<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon>
            {{ 'Votações em aberto' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/nova-votacao']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon>
            {{ 'Nova Votação' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/minhas-votacoes']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon>
            {{ 'Minhas votações' | translate }}
        </a>
    </mat-nav-list>
</div>
